
notebooks/\.ipynb_checkpoints/Testing root_numpy-checkpoint\.ipynb

notebooks/\.ipynb_checkpoints/

notebooks/DNN_Example/\.ipynb_checkpoints/

notebooks/DNN_Example/dataset_dnn/weights/TMVAClassification_DNN\.class\.C

notebooks/DNN_Example/dataset_dnn/weights/TMVAClassification_DNN\.weights\.xml

notebooks/DNN_Example/TMVAOutputDNN\.root

notebooks/TMVA_Examples/\.ipynb_checkpoints/DNN_Example-checkpoint\.ipynb

notebooks/TMVA_Examples/\.ipynb_checkpoints/PyMVA_Example-checkpoint\.ipynb

notebooks/TMVA_Examples/dataset_dnn/weights/TMVAClassification_DNN\.class\.C

notebooks/TMVA_Examples/dataset_dnn/weights/TMVAClassification_DNN\.weights\.xml

notebooks/TMVA_Examples/dataset_pymva/weights/PyGTBModel_GTB\.PyData

notebooks/TMVA_Examples/dataset_pymva/weights/TMVAClassification_GTB\.class\.C

notebooks/TMVA_Examples/dataset_pymva/weights/TMVAClassification_GTB\.weights\.xml

notebooks/TMVA_Examples/dataset_pymva/weights/TMVAClassification_PyKeras\.class\.C

notebooks/TMVA_Examples/dataset_pymva/weights/TMVAClassification_PyKeras\.weights\.xml

notebooks/TMVA_Examples/dataset_pymva/weights/TrainedModel_PyKeras\.h5

notebooks/TMVA_Examples/model\.h5

notebooks/TMVA_Examples/TMVAOutputDNN\.root

notebooks/TMVA_Examples/TMVAOutputPyMVA\.root

notebooks/Di-Higgs/\.ipynb_checkpoints/

notebooks/TMVA_Examples/\.ipynb_checkpoints/
